---
import SocialIconBar from "@components/icons/SocialIconBar.svelte";
---

<!-- 
TODO: Play with this margin-bottom number, it'll push the content below the hero page if we want 
-->
<div class="tw-mb-40">
  <div class="tw-my-6">
    <p class="tw-font-core-bold tw-text-6xl tw-text-base-content">
      Hello, I'm Jake. 👋
    </p>
  </div>
  <div class="tw-my-6">
    <p class="tw-font-core tw-text-4xl tw-text-base-content">
      I&apos;m a game engine programmer based in Québec City and Vancouver.
    </p>
  </div>
  <div class="tw-mt-12 tw-mb-3">
    <SocialIconBar size="3rem" isGhost={true} />
  </div>
</div>
