---
import ProjectCards from "@components/core/ProjectCards.astro";

import Link from "@components/Link.svelte";
import SocialIconBar from "@components/icons/SocialIconBar.svelte";
import IconButton from "@components/icons/IconButton.svelte";

import { personalLinks } from "@data/links.ts";

import { BsLightningChargeFill } from "svelte-icons-pack/bs";
---

<section class="">
  <div class="tw-my-6">
    <div class="tw-flex tw-items-baseline">
      <p class="tw-font-core-bold tw-text-4xl md:tw-text-7xl">
        hello, i'm jake.
      </p>
      <IconButton src={BsLightningChargeFill} size="1.25rem" color="yellow" class="tw-ml-4 tw-animate-pulse tw-animate-wiggle" />
    </div>
    <p class="tw-font-core-bold tw-text-neutral tw-text-4xl md:tw-text-7xl">
      tools programmer
    </p>
  </div>
  <div class="tw-my-2">
    <p class="tw-font-core tw-text-lg md:tw-text-xl tw-text-base-content">
      i&apos;m a tools programmer based in québec city currently working at larian studios. i&apos;m interested in game engines, creative workflows, and custom technology.
    </p>
  </div>
  <div class="tw-my-2">
    <p class="tw-font-core tw-text-lg md:tw-text-xl tw-text-base-content">
      here are some of the cool things i&apos;ve worked on professionally:
    </p>
  </div>
  <ProjectCards />
  <div class="tw-my-2">
    <p class="tw-font-core tw-text-lg md:tw-text-xl tw-text-base-content">
      in my free time i make games and participate in game jams. feel free to check out my <Link href={personalLinks.itchio}>itch</Link> or <Link href={personalLinks.github}>github</Link> for those.
    </p>
  </div>
</section>
