<footer class="tw-p-8">
  <div class="tw-flex">
    <p class="tw-text-xs tw-text-base-content tw-ml-auto">
      <!-- todo: decide footer style -->
      <!-- Made with 💛 in --> &copy; {new Date().getFullYear()} &hyphen; Jake Pauls
    </p>
  </div>
</footer>
