---
import Logo from "@components/Logo.svelte";

import { Constants } from "@data/constants";
---

<footer class="tw-px-32 tw-py-8 ">
  <div class="tw-flex">
    <div class="tw-flex-1">
      <a href="#">
        <Logo />
      </a>
    </div>
    <p class="tw-text-xs tw-text-base-content tw-ml-auto" set:html={Constants.copyright} />
  </div>
</footer>
