---
import Logo from "@components/Logo.svelte";
import { links } from "@data/links";
---

<div class="tw-flex">
  <div class="tw-navbar tw-bg-base-100">
    <div class="tw-flex-1">
      <!-- todo: replace with logo component -->
      <a href="#">
        <Logo textColor="white" subheadingTextColor="grey" />
      </a>
    </div>
    <div class="tw-flex-none">
      <ul class="md:tw-menu-horizontal md:tw-space-x-6 tw-px-1">
        <!-- todo: add logic to underline current page -->
        <li><a href="#">about</a></li>
        <li><a href={links.resume}>resume</a></li>
        <li></li>
      </ul>
    </div>
  </div>
</div>
