---
import { BsLightningChargeFill } from "svelte-icons-pack/bs";

import IconButton from "@components/icons/IconButton.svelte";
---

<div class="tw-flex">
  <div class="tw-navbar tw-justify-start">
    <IconButton src={BsLightningChargeFill} color="yellow" isGhost={false} href="#" /> 
  </div>
</div>