@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Tailwind Components */
@layer components {
  .tw-font-heading {
    font-family: "Chivo", "Segoe UI", sans-serif;
    font-weight: bold;
    letter-spacing: 0.25px;
  }

  .tw-font-subheading {
    font-family: "Chivo", "Segoe UI", sans-serif;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 2.4px;
  }

  .tw-font-core-bold {
    font-family: "Inter", "Segoe UI", sans-serif;
    font-weight: bold;
  }

  .tw-font-core {
    font-family: "Inter", sans-serif;
  }

  .tw-font-code {
    font-family: "JetBrains Mono", monospace;
  }
}

/* Custom CSS */
* {
  box-sizing: border-box;
  font-family: "Inter", "Segoe UI", sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  line-height: 1.5;
}

code {
  font-family:
    "JetBrains Mono",
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}
