@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Tailwind Components */
@layer components {
  .tw-font-core-bold {
    font-family: "Inter", "Segoe UI", sans-serif;
    font-weight: bold;
    letter-spacing: -0.05em;
    text-shadow: 0.15px 0.5px 0.25px rgba(0, 0, 0, 0.5);
  }

  .tw-font-core {
    font-family: "Inter", sans-serif;
    text-shadow: 0.15px 0.5px 0.25px rgba(0, 0, 0, 0.5);
  }

  .tw-font-code {
    font-family: "JetBrains Mono", monospace;
  }

  .tw-text-xxs {
    font-size: 0.625rem; /* 10px */
    line-height: 0.875rem; /* 14px */
  }

  .tw-text-xxxs {
    font-size: 0.5rem; /* 8px */
    line-height: 0.625rem; /* 10px */
  }
}

/* Custom CSS */
* {
  box-sizing: border-box;
  font-family: "Inter", "Segoe UI", sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  line-height: 1.5;
}

code {
  font-family:
    "JetBrains Mono",
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}
