---
import "../styles/globals.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jake Pauls">
  <main>
    <!-- todo: create lightning/name component -->
    <h1 class="tw-font-morganite tw-text-6xl">Jake Pauls</h1>
    <h3>Core Technology Programmer</h3>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
