---
import Basic from "@layouts/Basic.astro";
---

<Basic title="Jake Pauls">
  <main>
    <code class="tw-font-code tw-text-white"
      >This is where the content starts.</code
    >
  </main>
</Basic>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
