---
import Basic from "@layouts/Basic.astro";
import Content from "@components/core/Content.astro";
---

<Basic title="Jake Pauls">
  <main class="tw-px-32 tw-py-60 tw-w-auto">
      <Content />
  </main>
</Basic>
