---
import "@fontsource/inter";
import "@fontsource/inter/700.css"
import "@fontsource/chivo/700.css"
import "@fontsource/chivo/700-italic.css"
import "@fontsource/jetbrains-mono";
import "@styles/globals.css";

import Navbar from "@components/core/Navbar.astro";
import Footer from "@components/core/Footer.astro";
import IconBar from "@components/icons/FloatingIconBar.svelte";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="tw-bg-base-100">
    <div class="tw-flex tw-flex-col tw-px-12 tw-pt-12">
      <div class="tw-w-full">
        <Navbar />
      </div>
      <div>
        <slot />
      </div>
      <IconBar />
      <Footer />
      </div>
  </body>
</html>